<p class="header">{{tradingData.pair}}</p>
<div class="rates">
	<div class="rate sell">
		<div class="values">
			<p>Sell {{tradingData.pair.split(' ')[0]}}</p>
			<div class="amount">
				<app-amount [amount]="tradingData.sell"></app-amount>
			</div>
		</div>
		<div class="arrow"></div>
	</div>
	<div class="trend" [class.positive]="positive">
		<span class="trend-arrow positive"></span>
	</div>
	<div class="rate buy">
		<div class="arrow"></div>
		<div class="values">
			<p>Buy {{tradingData.pair.split(' ')[1]}}</p>
			<div class="amount">
				<app-amount [amount]="tradingData.buy"></app-amount>
			</div>
		</div>
	</div>
</div>
